---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sorted = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="My Blog">
  <h1>Writing</h1>
  <ul>
    {sorted.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          {post.data.date.toLocaleDateString()} - {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>